---
import '@fontsource/workbench/400.css';

interface Props {
  short: string;
  bg: string;
  fg: string;
  headsign: string;
}
const { short, bg, fg, headsign } = Astro.props;
---

<span class="capsule"
  ><span class="route" style={{ backgroundColor: bg, color: fg }}>{short}</span> {headsign}</span
>

<style>
  .capsule {
    display: inline-flex;
    gap: 0.5rem;
    padding-inline-end: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--m3c-surface-container);
    color: yellow;
    font-family: Workbench, system-ui;
  }
  .route {
    display: inline-flex;
    padding-inline: 0.25rem;
    border-radius: 0.5rem;
  }
</style>
