@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@theme {
  --font-sans: Inter, Roboto, Noto Sans, sans-serif, system-ui;
}
@plugin "@tailwindcss/typography";
:root {
  color-scheme: dark;
  accent-color: rgb(204 212 255);
}
