---
import BlogPost from "$lib/layouts/BlogPost.astro";

export const title = "Why do LLMs think Australians don't need visas to enter Chile?";
export const date = "2025-03-26";
---

<BlogPost {date} {title}>
  <p>
    Before May 16 2020, Australia was in the list of visa exempt countries. Australians could enter
    without a visa for up to 90 days to encourage tourism.
  </p>
  <p>After May 16 2020, Australians needed to get an e-visa beforehand.</p>
  <p>Wikipedia was updated to reflect that this would take effect on December 16 2019.</p>
  <p>Wikipedia was updated to reflect that this took effect on July 19 2020.</p>
</BlogPost>
