---
import BlogPost from '$lib/layouts/BlogPost.astro';

export const title = 'The problem with losing is that it makes you win differently';
export const date = '2026-02-24';
---

<BlogPost {title} {date}>
  <p>
    In RL terms, losing is a negative reward. It tells you to reverse everything you did that lead
    to that action. And if you keep losing, you start to become a different person.
  </p>
  <p>
    If you lose your social life, you start to do uncommon activities like taking long walks and
    joining niche communities. Previously, you might've entertained normal or even somewhat niche
    activities, but you might end up being the only one in a school to be in the communities you're
    in.
  </p>
  <p>
    Normie activities can and will crowd out more niche activities when done in good company. But
    when you have no company, many have little appeal. You can't commune without people to commune
    with.
  </p>
</BlogPost>
