---
import BlogPost from '$lib/layouts/BlogPost.astro';

export const title = 'The problem with losing is that it makes you win differently';
export const date = '2026-02-24';
---

<BlogPost {title} {date}>
  <p>
    In RL terms, losing is a negative reward. It tells you to reverse everything you did that lead
    to that action. And if you keep losing, you start to become a different person.
  </p>
  <p>
    If you lose your social life, you start to do uncommon activities like taking long walks and
    joining niche communities. Previously, you might've entertained normal or even somewhat niche
    activities, but you might end up being the only one in a school to be in the communities you're
    in. They may feel gigantic, but one person is to a school of 2000 as 4 million people are to the
    world population.
  </p>
  <p>
    The ratios get weirder once you start looking at <a href="/blog/belonging/">real school data</a
    >. Out of the people you see every day, you represent 35.8+ million of the world population. Out
    of the people who share 3+ class selections (yes, expanding beyond the actual sections to
    theoretical ultraclasses), you represent 347.8+ million of the world population.
  </p>
  <p>
    Normie activities can and will crowd out more niche activities when done in good company. But
    when you have no company, many have little appeal. Communual spaces are only good for communing
    in.
  </p>
</BlogPost>
