* {
  font-family: Open Sans, Arial, sans-serif;
}
h1 {
  text-align: center;
  color: green;
}
p, a, span {
  text-align: center;
  color: #006060;
}
input, button, div {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.printonly {
  display: none;
}
@media only screen and (orientation: landscape) {
  img {
    width: 33%;
  }
  .loadingqr {
    width: 16.5%;
  }
}
@media only screen and (orientation: portrait) {
  img {
    width: 75%;
  }
  .loadingqr {
    width: 37.5%;
  }
}
@media print {
  h1, p, input, button, a, .loadingqr {
    display: none !important;
  }
  .keep {
    display: inline !important;
    text-align: center !important;
    color: #000000 !important;
  }
}
@keyframes infiniterotate {  
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingqr {
  animation: infiniterotate 0.5s ease infinite;
}
