* {
  font-family: Open Sans;
}
h1 {
  text-align: center;
  color: green;
}
p, a, span {
  text-align: center;
  color: #009090;
}
input, button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.printonly {
  display: none;
}
@media only screen and (orientation: landscape) {
  img {
    width: 33%;
  }
}
@media only screen and (orientation: portrait) {
  img {
    width: 75%;
  }
}
@media print {
  * {
    display: none !important;
  }
  .keep {
    display: inline !important;
    text-align: center !important;
    color: #000000 !important;
  }
}
