---
import BlogPost from '$lib/layouts/BlogPost.astro';
import bg from './bg.avif?url';

export const title = 'Yes, F students are the inventors';
export const date = '2026-03-10';
---

<BlogPost {title} {date} {bg}>
  <p>
    And there's one other thing inversely created with creativity: the <em>other</em> type of grade.
  </p>

  <h2>Later grades tend to have more grindy classes</h2>
  <p>
    I analyzed the schools I went to as a student. In 1st-4th grade, there was an air of creation
    and thinking - making art or writing was common and for all students. In 5th grade, it started
    fading away. The main creative project I remember was building a physical bridge. But there was
    plenty of time to make your own things and consume other people's.
  </p>
  <p>
    Middle school asymptoted. Electives were dedicated to creating performances, robots, virtual
    objects, and physical objects, but only were part of the day. Other classes occasionally
    assigned writing or slideshows, but only occasionally.
  </p>
  <p>
    High school lost most creativity. To be fair, some stayed the same, like English and art
    (consistent high level of creativity) and math (consistent high level of open ended problem
    solving). But history went from occasional worksheets to daily worksheets, and from earnest
    presentations to rare essays. And science went from one of the most engaging classes with
    numerous opportunities to create knowledge and content to a worse version of Khan Academy.
  </p>

  <h2>More advanced classes also tend to be more grindy</h2>
  <p>
    The most advanced classes tend to be AP classes, which are defined by the presence of a test.
    But this test isn't on trying to figure things out from first principles or solving novel
    problems, so most teachers end up teaching these classes in the most boring way possible. They
    do the bare minimum to say "I taught the AP curriculum". They feel like... well, look up at the
    cover image of this post.
  </p>

  <h2>And this spawns grindy students</h2>
  <p>[Coming soon: real data]</p>
</BlogPost>
