---
import '@fontsource/workbench/400.css';

interface Props {
  short: string;
  bg: string;
  fg: string;
}
const { short, bg, fg } = Astro.props;
---

<span class="route" style={{ backgroundColor: bg, color: fg }}>{short}</span>

<style>
  .route {
    display: inline-flex;
    padding-inline: 0.25rem;
    border-radius: 0.5rem;
    font-family: Workbench, system-ui;
    white-space: nowrap;
  }
</style>
