---
import BlogPost from '$lib/layouts/BlogPost.astro';

export const title = "How far back acloudyskye's world goes";
export const date = '2026-05-19';
---

<BlogPost {date} {title}>
  <p>
    <a href="https://genius.com/artists/Acloudyskye">Genius shows</a> acloudyskye's first song to be <a
      href="https://acloudyskye.bandcamp.com/track/runaway">Runaway</a
    >, dating back to October 14, 2017.
  </p>
  <p>
    The first time Enth shows up is in <a href="https://acloudyskye.bandcamp.com/track/spaces"
      >Spaces</a
    >, from December 31, 2017. Enth doesn't show up again until <a
      href="https://acloudyskye.bandcamp.com/track/parting-gift">Parting Gift</a
    > (April 15, 2018), then starts consistently appearing in <a
      href="https://acloudyskye.bandcamp.com/track/when-there-were-others">When There Were Others</a
    > (August 4, 2018) and onwards.
  </p>
  <p>
    As for videos, the first one is <a href="https://www.youtube.com/watch?v=mCtuRp1XecU">At Rest</a
    > (February 15, 2021), part of Blood Rushing Like Current Through a Powerline.
  </p>
  <p>
    Ila's arrival seems to be hinted at in Somewhere Out There, also part of BRLCTAP. Ila arrives in <a
      href="https://www.youtube.com/watch?v=-mItBlsXSwY">FIRST ENCOUNTERS</a
    > (March 5, 2022), although is pictured earlier in <a
      href="https://acloudyskye.bandcamp.com/track/daze">Daze</a
    > (November 18, 2021), and is only let in by Enth by the end of <a
      href="https://acloudyskye.bandcamp.com/album/what-do-you-want">What Do You Want!</a
    > (September 2, 2022).
  </p>
</BlogPost>
