html {
  min-height: 100%;
  /* Blue to purple */
  background-color: hsl(265, 100%, var(--background-l));
  background: linear-gradient(
    -45deg,
    hsl(195, 100%, var(--background-l)),
    hsl(265, 100%, var(--background-l))
  );
}
h1, h2, h3, a.block {
  display: table;
  background: var(--item-background);
  color: var(--item-color);
  padding: 1em;
  border-radius: 10px;
}
