<span><abbr title="Home Assistant">HA</abbr></span>

<style>
  span {
    @apply --m3-title-small;
    display: inline-flex;
    height: 2rem;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    align-items: center;

    background-color: light-dark(#accbfa, #3d5472);
    color: light-dark(#22436a, #d4e4ff);
  }
</style>
