<span>Skyblock</span>

<style>
  span {
    @apply --m3-title-small;
    display: inline-flex;
    height: 2rem;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    align-items: center;

    background-color: light-dark(#ffd88b, #664f1f);
    color: light-dark(#644a09, #ffdfa4);
  }
</style>
