---
import "./base.css";

export const blogRSSTitle = "Kendell's blog";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="accent-color" content="#bbc3ff" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="https://rsms.me/inter/font-files/InterVariable.woff2?v=4.1"
      as="font"
      type="font/woff2"
      crossorigin
    />
    {
      Astro.url.pathname.startsWith("/blog") ? (
        <link
          rel="alternate"
          type="application/rss+xml"
          title={blogRSSTitle}
          href={`${Astro.url.origin}/blog/rss.xml`}
        />
      ) : undefined
    }

    <slot name="head" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script>
      import "./layer";
      const checkMidnight = () => {
        document.documentElement.classList.toggle(
          "midnight",
          new Date().getHours() >= 21 || new Date().getHours() < 6,
        );
      };
      checkMidnight();
      setInterval(checkMidnight, 60 * 1000);
    </script>
  </body>
</html>
