/*
Schoology.css v0.2.1
View history at https://github.com/KTibow/ktibow.github.io/commits/master/schoology/css.css
*/

/*
CSS variables, and change the background.
Change these hex codes and box-shadows to whatever you want.
*/

body {
  --background: #f3f5f7;
  --color: #4c3ff9;
  --shadow: -5.5px -5.5px 5.5px 0 rgba(255, 255, 255, 0.5),
    5.5px 5.5px 5.5px 0 rgba(0, 0, 0, 0.03);
  --text: #111;
  --text-dark: #333;
  --text-darker: #444;
  --inset-shadow: inset -5.5px -5.5px 5.5px 0 rgba(255, 255, 255, 0.5),
    inset 5.5px 5.5px 5.5px 0 rgba(0, 0, 0, 0.03);
  --invert-filter: invert(0.04) hue-rotate(180deg);
  background-color: var(--background);
  background: var(--background) !important;
  color: var(--text-dark);
}
@media (prefers-color-scheme: dark) {
body {
  --background: #26282C;
  --color: #8b83ff;
  --shadow: -5.25px -5.25px 5.25px 0 rgba(55, 55, 55, .6), 5.25px 5.25px 5.25px 0 rgba(0, 0, 0, .15);
  --text: #EEE;
  --text-dark: #CCC;
  --text-darker: #BBB;
  --inset-shadow: inset -5.25px -5.25px 5.25px 0 rgba(55, 55, 55, .6), inset 5.25px 5.25px 5.25px 0 rgba(0, 0, 0, .15);
  --invert-filter: invert(0.83) hue-rotate(180deg);
}
}
/**************************/
/*                        */
/*     General stuff      */
/*                        */
/**************************/
/* 3d view with background */
#main {
  background: var(--background);
}
/* Set some colors */
* {
  border-width: 0 !important;
}
.theme-2016 #right-column a {
  color: var(--color) !important;
}
hr {
  display: none;
}
::selection {
  background-color: var(--color);
  color: white;
}
a:not(.course-updates-left-menu):not(.submit-btn),
a:not(.course-updates-left-menu):not(.submit-btn).active {
  color: var(--color);
}
/* Shrink the cat pet I have down */
#catpetcat1 {
  transform: scale(0.5);
}
/* Button tweaks */
.submit-buttons * {
  box-shadow: none;
}
.popups-body .submit-buttons > * {
  margin: 0 10px;
}
.submit-btn,
.cancel-btn,
input[type="submit"],
input[type="button"] {
  border-width: 0 !important;
  border-radius: 10px !important;
}
.submit-btn,
input[type="submit"],
input[type="button"]:not([value="Cancel"]) {
  background: var(--color);
}
.cancel-btn,
input[type="submit"][value="Cancel"],
input[type="button"][value="Cancel"] {
  background: var(--background) !important;
  box-shadow: var(--shadow) !important;
}
.popups-buttons span {
  background: var(--background) !important;
}
.submit-span-wrapper {
  background: var(--background);
}
.link-btn {
  color: white;
  padding: 10px;
  margin: 10px;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color);
}
/**************************/
/*                        */
/*  Headers and footers   */
/*                        */
/**************************/
/* Backgrounds (._2q19q is a card image in courses) */
header,
nav,
nav > ul > li *:not(._2q19q) {
  background: var(--background) !important;
}
/* Colors */
nav > ul > li * {
  color: var(--color) !important;
}
nav > ul > li > [role="menu"] > ol > li[data-message-index] {
  margin: 20px;
  box-shadow: var(--shadow);
  list-style-type: none;
}
nav > ul > li > [role="menu"] > ol > li[data-message-index] * {
  color: var(--text) !important;
  border-width: 0;
}
nav
  > ul
  > li
  > [role="menu"]
  > ol
  > li[data-message-index]
  > a
  > div:nth-of-type(1)
  > span:nth-of-type(1) {
  background-color: var(--color) !important;
}
/* Hide annoying stuff */
._pendo-launcher-badge_,
#site-navigation-footer {
  display: none;
}
#container.clearfix {
  margin: 0;
}
/* Update schoology logo to say "home" */
nav > ul:nth-of-type(1) > li:nth-of-type(1) > a {
  background: none !important;
  height: 100% !important;
}
nav > ul:nth-of-type(1) > li:nth-of-type(1) > a::before {
  content: "Home";
  width: 16rem;
  height: 100%;
  line-height: 60px;
  text-align: center;
  display: block;
  font-size: 2em;
}
/* Add shadows and margin to buttons */
nav > ul > li {
  margin: 10px;
  border-radius: 10px;
}
nav > ul > li:not(:hover) {
  box-shadow: var(--shadow);
}
nav > ul > li:hover > button,
nav > ul > li:hover > div > button,
nav
  > ul
  > li:hover
  a:not([href^="/messages/"]):not([href^="/user/"]):not([href^="/school/"]):not([href^="/settings/"]):not([href^="/logout"]) {
  box-shadow: var(--inset-shadow);
}
a[href="/home"] {
  margin-top: 0 !important;
  padding-right: 0;
}
/* Course dropdown */
nav > ul:nth-of-type(1) > li:nth-of-type(2) > div > div,
nav > ul:nth-of-type(1) > li:nth-of-type(3) > div > div {
  box-shadow: none;
}
._3hM4e._3_a9F.zJU7e.util-width-zero-1OcAd._2oHes.util-last-child-margin-right-zero-1DVn4:not(:empty) {
  box-shadow: var(--shadow);
  padding: 10px;
  margin: 10px;
}
._3hM4e._3_a9F.zJU7e.util-width-zero-1OcAd._2oHes.util-last-child-margin-right-zero-1DVn4:not(:empty):hover {
  box-shadow: var(--inset-shadow);
}
._3hM4e._3_a9F.zJU7e.util-width-zero-1OcAd._2oHes.util-last-child-margin-right-zero-1DVn4
  > article
  > a {
  outline: none !important;
}
/* Search */
nav > ul:nth-of-type(2) > li:nth-of-type(1) > ul {
  box-shadow: var(--shadow) !important;
}
/* DMs */
nav > ul > li > div button[aria-label="New Message"] {
  box-shadow: var(--shadow);
  padding: 10px;
}
/* Notifications */
nav > ul:nth-of-type(2) > li:nth-of-type(4) > div > div button {
  box-shadow: var(--shadow);
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}
nav
  > ul:nth-of-type(2)
  > li:nth-of-type(4)
  > div
  > div
  > button[aria-selected="true"] {
  box-shadow: var(--inset-shadow);
}
nav
  > ul:nth-of-type(2)
  > li:nth-of-type(4):hover
  a {
  box-shadow: none !important;
}
nav
  > ul:nth-of-type(2)
  > li:nth-of-type(4)
  > div > div > div {
box-shadow: var(--shadow);
    margin: 20px;
}
/* Profile */
nav > ul:nth-of-type(2) > li:nth-of-type(5) > div > ul {
  box-shadow: none;
}
nav > ul:nth-of-type(2) > li:nth-of-type(5) > div > ul > li:not(:empty) {
  margin: 15px 10px;
  padding: 5px 10px;
  box-shadow: var(--shadow);
}
/* Make badge for DMs and notifications be filled in */
nav > ul:nth-of-type(2) > li > button > span {
  background: var(--color) !important;
  color: white !important;
}
nav
  > ul:nth-of-type(2)
  > li:nth-of-type(4)
  > div
  > div
  > div
  > div:nth-of-type(1)
  > span {
  background: var(--color) !important;
}
/* Popups: remove some borders */
div[data-sgy-sitenav="header-my-account-menu"] > ul,
[role="menu"] {
  border-width: 0 !important;
}
/* Don't cut off content */
#body > #header.site-navigation {
  height: unset;
}
/**************************/
/*                        */
/*       Home page        */
/*                        */
/**************************/
/* Backgrounds */
.s-enable-course-dashboard.theme-2016-layout #main {
  background: var(--background) !important;
}
/* Navigation (Recent Activity / Course Dashboard) */
ol.sgy-tabbed-navigation {
  border-width: 0;
}
ol.sgy-tabbed-navigation > li {
  border-width: 0 !important;
  margin: 10px;
}
ol.sgy-tabbed-navigation > li > a {
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 10px;
}
ol.sgy-tabbed-navigation > li.active > a,
ol.sgy-tabbed-navigation > li:hover > a {
  box-shadow: var(--inset-shadow);
}
/* Course cards */
.course-dashboard .sgy-card {
  border-width: 0;
  background: var(--background);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 10px;
}
.course-dashboard .sgy-card:focus .sgy-card-lens:after,
.course-dashboard .sgy-card:hover .sgy-card-lens:after {
  background: transparent;
}
.course-dashboard .sgy-card:focus,
.course-dashboard .sgy-card:hover {
  box-shadow: var(--inset-shadow);
}
/* Hide the help icon */
a.course-dashboard__accessibility-icon {
  display: none;
}
/* Stuff on the right */
#body #right-column-inner > .overdue-submissions:not(:empty),
#body #right-column-inner > .upcoming-events,
#body #right-column-inner > .drop-items {
  background: var(--background);
  box-shadow: var(--shadow);
  padding: 15px;
}
#body #right-column-inner > div * {
  border-width: 0;
}
.date-header > h4 {
  text-transform: capitalize !important;
}
/* Fix accessibility stuff */
a[href="#main"].skip {
  color: white;
  background: var(--color);
}
/**************************/
/*                        */
/*        DM page         */
/*                        */
/**************************/
#tabs-wrapper, ul.tabs.primary {
  float: none;
  height: auto;
}
#tabs-wrapper > ul.tabs.primary {
  background: var(--background);
}
#tabs-wrapper > ul.tabs.primary > li {
  background: var(--background);
  padding: 10px;
  margin: 10px;
  box-shadow: var(--shadow);
  float: none;
  display: inline-block;
}
#tabs-wrapper > ul.tabs.primary > li.active {
  box-shadow: var(--inset-shadow);
}
#tabs-wrapper > ul.tabs.primary > li * {
  background: var(--background) !important;
}
.sMessagingProcessed > div > fieldset,
.sMessagingProcessed > div > fieldset > div.form-item,
.sMessagingProcessed > div > fieldset #attachment-selector,
.sMessagingProcessed > div > fieldset #attachment-selector > li,
.sMessagingProcessed > div > fieldset > div > textarea,
.sMessagingProcessed > div > fieldset a[href^="/messages/ajax/delete"].link-btn {
  background: var(--background) !important;
}
.sMessagingProcessed > div > fieldset #attachment-selector {
  width: calc(100% - 20px);
}
.sMessagingProcessed > div > fieldset #attachment-links {
  height: auto !important;
}
.sMessagingProcessed > div > fieldset #attachment-selector,
.sMessagingProcessed > div > fieldset #attachment-selector > li {
  float: none !important;
}
.sMessagingProcessed > div > fieldset #attachment-selector > li {
  display: inline-block;
}
.sMessagingProcessed > div > fieldset > div > textarea {
  box-shadow: var(--inset-shadow);
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.sMessagingProcessed > div > fieldset span.cancel-btn {
  margin-left: 15px;
}
.sMessagingProcessed > div > fieldset a[href^="/messages/ajax/delete"].link-btn {
  box-shadow: var(--shadow);
  padding: 20px;
  margin-top: -10px;
}
/**************************/
/*                        */
/*      Course page       */
/*                        */
/**************************/
#main-content-wrapper,
#center-wrapper,
#center-inner > #center-top,
#course-profile-materials {
  background: var(--background);
}
#center-top {
  box-shadow: var(--shadow);
  margin: 25px !important;
  padding: 20px;
}
/* Hide annoying divider */
#center-inner {
  background-image: none !important;
}
#center-inner::after {
  display: none;
}
/* Update button for course switcher and notification settings */
.notification-settings-wrapper > a {
  visibility: hidden;
}
.notification-settings-wrapper > a::before {
  content: "⚙ Email notification settings";
  visibility: visible;
  box-shadow: var(--shadow);
  padding: 10px;
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
  color: var(--text);
  font-weight: normal;
}
#taught-courses-switcher {
  width: 100%;
  text-align: center;
}
#taught-courses-switcher > a {
  visibility: hidden;
  height: 44px;
}
#taught-courses-switcher > a > * {
  display: none;
}
#taught-courses-switcher > a::before {
  content: "🔀 Switch course";
  visibility: visible;
  box-shadow: var(--shadow);
  padding: 10px;
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
  color: var(--text);
  display: inline-block;
  margin-top: 5px;
  font-weight: normal;
}
/* Update some colors */
.materials-filter-wrapper > div > div,
div#center-top
  > div.center-top-upper
  > div.content-top-upper-wrapper
  > span.course-title
  > a {
  color: var(--color);
}
.materials-filter-wrapper {
  background: var(--background);
}
/**************************/
/*                        */
/*      Custom icons      */
/*                        */
/**************************/
/* Calendar */
#event-calendar {
  background: none;
}
#event-calendar::before {
  content: "📆";
}
a[href="/user-calendar"]::before {
  content: "📆 ";
}
/* Submissions */
#s-drop-item-submit-upload-form #attachment-links {
  height: 60px;
}
#attachment-links {
  box-shadow: var(--shadow);
  padding: 10px 0 10px 10px;
}
#attachment-links * {
  background-image: none !important;
  margin: 5px;
  border-radius: 5px;
}
#attachment-links li {
  box-shadow: var(--shadow);
}
#file-selector > a::before {
  content: "➕";
  height: 32px;
  width: 38px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
#mediarecorder-selector > a::before {
  content: "🎤";
  height: 32px;
  width: 38px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
#link-selector > a::before {
  content: "🔗";
  height: 32px;
  width: 38px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
#resource-selector > a::before {
  content: "📁";
  height: 32px;
  width: 38px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
#attachments-added-container > div > div {
  background: var(--background);
  box-shadow: var(--shadow);
  margin: 15px -6px 15px !important;
  padding: 25px 15px 20px 35px;
}
/*
Schoology devs made progressShowHide
edit details of the attatched item.
You do you, site that works on Windows Phones.
*/
#attachments-added-container .progressShowHide {
  color: var(--color);
}
/* Folders */
.folder-icon {
  background: none !important;
  width: auto !important;
  height: auto !important;
}
.folder-icon::before {
  content: "📂";
  font-size: 2em;
  position: relative;
  bottom: 5px;
}
.fc-event .folder-icon::before {
  font-size: 1em;
}
.folder-color-red::before {
  filter: brightness(0.7) hue-rotate(310deg);
}
.folder-color-pink::before {
  filter: brightness(0.9) hue-rotate(310deg);
}
.folder-color-orange::before {
  filter: brightness(0.9) hue-rotate(350deg);
}
.folder-color-yellow::before {
  filter: brightness(1.1) hue-rotate(10deg);
}
.folder-color-green::before {
  filter: brightness(0.9) hue-rotate(50deg);
}
.folder-color-blue::before {
  filter: brightness(0.9) hue-rotate(140deg);
}
.folder-color-purple::before {
  filter: brightness(0.8) hue-rotate(220deg);
}
.folder-color-gray::before {
  filter: brightness(0.8) grayscale(1);
}
.folder-color-black::before {
  filter: brightness(0.3) grayscale(1);
}
.course-materials-simple .inline-icon::before {
  font-size: 1em !important;
  line-height: 2.5em;
}
/* Checkboxes */
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]::before {
  content: "⬜";
  visibility: visible;
}
input[type="checkbox"]:checked::before {
  content: "✅";
}
/* Comment like buttons */
a.like-details-btn {
  background: none !important;
  padding: 0 !important;
  margin: 0;
}
a.like-details-btn::before {
  content: " 👍 ";
}
/* Navigator buttons */
.navigator-buttons > span > a > span {
  padding: 0 10px;
  background: none !important;
}
.navigator-buttons > span > a {
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  display: block;
  background: none !important;
}
.navigator-buttons > span:nth-of-type(1) > a > span::before {
  content: "◀ ";
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
}
.navigator-buttons > span:nth-of-type(2) > a > span::after {
  content: " ▶";
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
}
/* Info button */
.info-container > span > span > img {
  display: none;
}
.info-container > span > span::before {
  content: "ℹ";
  color: var(--color);
  line-height: 22px;
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
}
/* Submit assignment */
div.submit-assignment > a > span {
  background: none !important;
  margin-right: 0 !important;
  width: 36px !important;
}
div.submit-assignment > a > span::before {
  content: "➕📃";
}
/* Add submission to portfolio */
.portfolio-add-submission-btn__link::before {
  background: none;
  content: "➕🗃";
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
  width: unset;
}
.portfolio-add-submission-btn__link > img {
  display: none;
}
/* Grading comment */
.grading-grade > .infotip {
  background: none;
  padding: 2px !important;
}
.grading-grade > .infotip::before {
  content: "💬";
}
/* Close a popup */
.popups-close > a {
  background: none;
}
.popups-close > a::before {
  content: "❌";
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
}
/* Various icons */
span.inline-icon.link-icon {
  background: none;
}
span.inline-icon.link-icon::before {
  content: "🔗";
  font-size: 24px;
}
span.inline-icon.link-icon.with-fav > span[style] {
  display: none;
}
span.inline-icon.pdf-icon,
span.item-icon.page-icon,
span.inline-icon.default-icon,
span.inline-icon.video-icon {
  background: none !important;
}
span.inline-icon.pdf-icon::before,
span.item-icon.page-icon::before,
span.inline-icon.default-icon::before {
  content: "📃";
  font-size: 24px !important;
}
.subtree-folder-contents-table span.inline-icon::before,
.subtree-folder-contents-table span.item-icon::before {
  font-size: 1em !important;
}
span.inline-icon.video-icon::before {
  content: "📺";
  font-size: 24px;
}
span.inline-icon.assignment-icon {
  background: none;
}
#folder-contents-table > tbody > tr > td > div > span.inline-icon.page-icon,
.item-icon.page-icon::before,
#folder-contents-table
  > tbody
  > tr
  > td
  > div
  > span.inline-icon.assignment-icon::before {
  font-size: 1em;
}
span.inline-icon.assignment-icon::before {
  content: "📝";
  font-size: 24px;
}
.course-materials-simple .inline-icon.link-icon.with-fav > span {
  display: none;
}
.course-materials-simple .inline-icon:not(.folder-icon)::before {
  line-height: 1.5em !important;
}
/**************************/
/*                        */
/*       Assignment       */
/*                        */
/**************************/
#center-top {
  border: none !important;
}
.content-top-upper {
  background: var(--background) !important;
}
.info-container > span {
  text-align: center;
  margin: 0 10px;
  padding: 0 10px;
  box-shadow: none;
  background: var(--background);
  border: none;
}
.comment {
  box-shadow: var(--shadow);
  margin: 30px 20px;
  padding: 15px;
}
.s-comments-post-form {
  box-shadow: var(--shadow);
}
.s-comments-post-form .submit-span-wrapper {
  float: none !important;
}
#edit-comment-wrapper textarea {
  background: var(--background);
}
.like-btn {
  color: var(--color);
}
#main-inner > .info-container {
  box-shadow: var(--shadow);
  margin: 10px;
  padding: 10px;
}
div.submit-assignment {
  border: none;
  box-shadow: var(--shadow);
  display: inline-block;
  margin: 10px 0;
}
div.submit-assignment > a.link-btn {
  box-shadow: none;
  background: none;
}
.portfolio-add-submission-btn__wrap {
  background: none;
  padding: 7px 10px 10px 10px;
  box-shadow: var(--shadow);
}
/**************************/
/*                        */
/*         Popups         */
/*                        */
/**************************/
/* Backgrounds */
#popups-loading,
.popups-dropbox-viewer .popups-body,
.popups-body,
.popups-body .popups-tabs,
.popups-tab-content.visible {
  background: var(--background);
}
table#edit-submission_toolbar1 *,
td.mceToolbar {
  background-color: var(--background) !important;
}
#popups-loading div {
  background-color: var(--background);
}
/* Create tab */
.resizable-textarea > span > textarea {
  background: var(--background);
  box-shadow: var(--shadow);
}
#edit-submission_ifr {
  filter: brightness(0.96);
}
span#tinymce-toggle-html {
  background-color: var(--background);
}
.popups-tabs {
  height: 45px;
}
.popups-box {
  background: transparent !important;
}
.popups-title {
  background: var(--background);
  color: var(--text);
  border-radius: 10px 10px 0 0;
}
.popups-tabs .popups-tab,
.popups-tabs .popups-tab.active {
  color: var(--color);
  box-shadow: var(--shadow);
  background: var(--background);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.popups-tabs .popups-tab.active {
  box-shadow: var(--inset-shadow);
}
/* Tooltips */
.popover-content,
.tipsy-inner {
  background: var(--background);
  color: var(--text);
}
div[role="tooltip"].sgy-tooltop {
  background: none;
  box-shadow: var(--shadow);
}
/**************************/
/*                        */
/*          Dark          */
/*                        */
/**************************/
/* Home right sidebar */
.theme-2016 #right-column h3 {
  color: var(--text);
}
.theme-2016 .date-header h4 {
  color: var(--text-dark);
}
.theme-2016 #right-column h4 span:not(.subevent-count), .theme-2016 #right-column .empty {
  color: var(--text-darker);
}
/* Home left sidebar */
.sgy-card-context {
  color: var(--text-dark);
}
.sgy-card-subcontext {
  color: var(--text-darker);
}
/* Top tabs */
.sgy-tabbed-navigation li.active a {
  color: var(--text-darker);
}
/* Left sidebar in course page */
.left-block dt {
  color: var(--text-dark);
}
/* Right sidebar in course page */
#event-selector .active {
  color: var(--text);
}
/* Content in course page */
.folder-visibility {
  color: var(--text-dark);
}
.gray {
  color: var(--text-darker);
}
/* DMs */
body ul.primary li.active a, body ul.primary li.active a:hover {
  color: var(--text);
}
body textarea, select {
  color: var(--text);
}
