body {
  --background-l: 90%;
  --h1-l: 50%;
  --blue-l: 37.5%;
  --button-l: 37.5%;
  --button-text-l: 100%;
  --button-hover-l: 35%;
  --button-active-l: 32.5%;
  --button-active-shadow-l: 40%;
  --image-shadow-l: 80%;
  --input-text-l: 5%;
  --input-background-l: 95%;
}
