body {
  --background-l: 10%;
  --h1-l: 62.5%;
  --blue-l: 45%;
  --button-l: 60%;
  --button-text-l: 0%;
  --button-hover-l: 65%;
  --button-active-l: 70%;
  --input-text-l: 85%;
  --input-background-l: 15%;
}
