body {
  background-color: hsl(0, 0%, var(--background-l));
  --bar-color: 8844FF;
  --section-display: inline-block;
}
h1 {
  color: hsl(265, 100%, var(--h1-l));
}
h2,
h3,
a {
  color: hsl(195, 100%, var(--blue-l));
}
button {
  background-color: hsl(195, 100%, var(--button-l));
  color: hsl(0, 0%, var(--button-text-l));
  display: inline-block;
  width: min(20vw, 9em);
  height: min(20vw, 9em);
}
button:hover {
  background-color: hsl(195, 100%, var(--button-hover-l));
}
button:active {
  background-color: hsl(195, 100%, var(--button-active-l));
}
label {
  color: hsl(0, 0%, var(--input-text-l));
}
input {
  background: hsl(0, 0%, var(--input-background-l));
  color: hsl(0, 0%, var(--input-text-l));
  border: none;
}
