html {
  --background-l: 40%;
}
body {
  --item-background: rgba(0, 0, 0, 0.4);
  --item-background-hover: rgba(0, 0, 0, 0.5);
  --item-background-active: rgba(0, 0, 0, 0.3);
  --item-color: #DDD;
  --bar-color: FFFFFF;
}
