html {
  --background-l: 60%;
}
body {
  --item-background: rgba(255, 255, 255, 0.4);
  --item-background-hover: rgba(255, 255, 255, 0.5);
  --item-background-active: rgba(255, 255, 255, 0.3);
  --item-color: #222;
}
