html {
  min-height: 100%;
  /* Blue to purple */
  background-color: hsl(265, 100%, var(--background-l));
  background: linear-gradient(
    -45deg,
    hsl(195, 100%, var(--background-l)),
    hsl(265, 100%, var(--background-l))
  );
}
@media (orientation: portrait) {
  button {
    margin: 0.5em 0.992em;
  }
}
body {
  --section-display: inline;
}
a {
  color: var(--item-color);
}
h1, h2, h3 {
  background: var(--item-background);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  line-height: 2em;
  padding: 8px 15px;
  margin: 1rem;
  display: table;
  color: var(--item-color);
}
button {
  background: var(--item-background);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  width: min(35%, 8.2em);
  height: 8.2em;
  filter: unset !important;
  color: var(--item-color);
}
button:hover {
  background: var(--item-background-hover);
}
button:active {
  background: var(--item-background-active);
}
label {
  background: var(--item-background);
  color: var(--item-color);
  backdrop-filter: blur(5px);
  display: inline-block;
  padding: 10px;
  margin: 1rem;
  border-radius: 5px;
}
input {
  background: var(--item-background);
  color: var(--item-color);
  border: none;
  margin: 10px 0;
}
img {
  border-radius: 5px;
  background: var(--item-background);
  backdrop-filter: blur(10px);
}
