body {
  --background: #26282c;
  --color: #ccc;
  --shadow: -5.25px -5.25px 5.25px 0 rgba(55, 55, 55, 0.6),
      5.25px 5.25px 5.25px 0 rgba(0, 0, 0, 0.15);
  --strong-shadow: -10px -10px 10px 0 rgba(55, 55, 55, 0.6),
      10px 10px 10px 0 rgba(0, 0, 0, 0.15);
  --inset-shadow: inset -5.25px -5.25px 5.25px 0 rgba(55, 55, 55, 0.6),
      inset 5.25px 5.25px 5.25px 0 rgba(0, 0, 0, 0.15);
}