---
import BlogPost from "$lib/layouts/BlogPost.astro";
import bg from "./bg.avif?url";

export const date = "2026-02-01";
export const title = "Trying various AIs every month";
---

<BlogPost {date} {title} {bg}>
  <h2>January: Only free options</h2>
  <p>
    January begun with the end of last year's Claude subscription - I didn't renew it because I
    wanted to explore my options better.
  </p>
  <p>
    I ended up using Google's AI mode a lot, using it as my default search engine. It may appear to
    be just another tab of Google Search, but it's really fast and powerful. Only downside is the
    occasional glitches, like how it sometimes refuses or fails to generate a response, or how URLs
    and code blocks are handled poorly.
  </p>
  <p>If you want to switch to AI Mode, here's how to configure your browser:</p>
  <ul>
    <li>
      AI Mode (<code>@ai</code>): <a href="https://www.google.com/search?udm=50&q=%s"
        >https://www.google.com/search?udm=50&q=%s</a
      >
    </li>
    <li>
      AI Mode Canvas (<code>@canvas</code>): <a
        href="https://www.google.com/search?udm=50&rc=1&q=%s"
        >https://www.google.com/search?udm=50&rc=1&q=%s</a
      >
    </li>
    <li>
      AI Mode Pro (<code>@pro</code>): <a href="https://www.google.com/search?aep=1&nem=143&q=%s"
        >https://www.google.com/search?aep=1&nem=143&q=%s</a
      >
    </li>
  </ul>
  <p>
    I also exhausted almost all 300 premium requests of my Copilot student subscription. This
    doesn't usually happen, but it did this month, across general chat, refactoring, and agents.
    It's important to pay attention to the premium request multiplier: I'm trying to switch to
    Gemini Flash for most of my questions since it's 3x cheaper than most models and 9x cheaper than
    Opus.
  </p>
  <h2>February: ChatGPT Business</h2>
  <p>
    When you own a domain, you get lots of free things. One of those things is a month of ChatGPT
    Business. Unfortunately, even if the models are at the frontier, the UI isn't.
  </p>
  <p>
    They haven't had Claude's idea of "just give it a normal computer". Instead, you have to use
    "Agent mode", and if you want it to have access to GitHub you have to turn on "Developer mode".
  </p>
  <p>
    Also, thinking is unpredictable, compared to the free plan where when you type <code
      >/think</code
    > it thinks. If you select "Thinking", it sometimes chooses to not think. If you select "Pro" and
    have a chat, it lets you change the thinking settings, but then doesn't actually use them. And half
    the time, once it finishes thinking, it hides what it was thinking about.
  </p>
  <p>
    But what about the other features? Deep Research? Tasks? Image gen? Codex? They're useful but,
    by now (and definitely by Feb 3, when Claude 5 released), not the only or best option. Codex may
    be reliable, but it has no sense of aesthetics, across code style and site design.
  </p>
</BlogPost>
