---
import BlogPost from '$lib/layouts/BlogPost.astro';
import Snippet from '$lib/Snippet.astro';
import bg from './bg.avif?url';

export const title = "I'm bullish on CSS mixins";
export const date = '2025-12-14';
---

<BlogPost {date} {title} {bg}>
  <p>
    As a <a href="/m3-svelte/">component library</a> developer,
    <code>@mixin</code>
    from the <a href="https://drafts.csswg.org/css-mixins-1/">Functions and Mixins Module</a> has quickly
    become one of my favorite parts of CSS. Even though I have to
    <a href="https://www.npmjs.com/package/vite-plugin-functions-mixins">polyfill it</a>, mixins
    solve so many of the problems with classes+variables:
  </p>
  <ul>
    <li>
      Classes make a non-Tailwind project feel like Tailwind. Mixins go with the rest of your
      styles, upholding separation of concerns.
    </li>
    <li>
      Classes can't be toggled from CSS. I literally can't do "shrink the label when the input is
      active" - I have to either copy the class's contents in (and hope I remember to update it) or
      use something arbitrary like CSS Modules that doesn't work well with Svelte. Mixins can be <code
        >@apply</code
      >d at any time!
    </li>
    <li>
      You can't customize with pure classes because their styles are sometimes inlined, so you have
      to do something ugly and space consuming like:
      <Snippet
        language="css"
        code={`:root {
  --m3-font: Roboto, system-ui;
  --m3-font-label: var(--m3-font);
  --m3-font-label-large-size: 0.875rem;
  --m3-font-label-large-height: 1.429;
  --m3-font-label-large-tracking: 0.006rem;
  --m3-font-label-large-weight: 500;
}
.m3-font-label-large,
.m3-font-label-medium,
.m3-font-label-small {
  font-family: var(--m3-font-label);
}
.m3-font-label-large {
  font-size: var(--m3-font-label-large-size);
  line-height: var(--m3-font-label-large-height);
  letter-spacing: var(--m3-font-label-large-tracking);
  font-weight: var(--m3-font-label-large-weight);
}`}
      />
      With mixins, the user can just define their own <code>@mixin --m3-label-large</code>!
    </li>
  </ul>
  <h2>
    Mixins could kill or reform <a href="https://github.com/css-modules/css-modules">CSS Modules</a>
  </h2>
  <table>
    <thead>
      <tr>
        <th>CSS Modules</th>
        <th>Pure CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@value</code></td>
        <td>CSS variables</td>
      </tr>
      <tr>
        <td>Composition</td>
        <td><code>@apply</code></td>
      </tr>
      <tr>
        <td><code>from</code></td>
        <td><code>@import</code></td>
      </tr>
      <tr>
        <td>Defining a class</td>
        <td>Defining a mixin</td>
      </tr>
    </tbody>
  </table>
  <p>
    However: my polyfill can't transform dynamic access like <code
      >size="--m3-button-large" color="--m3-primary"</code
    >, and even once mixins are widely supported, the ecosystem won't be able to tree shake dynamic
    access. We need a <code>.mixin.css</code> or something that you can import just what you need from,
    so unused mixins can be eliminated - or more generically, we need support for granular imports from
    a CSS file.
  </p>
  <p>
    We would also need syntax. For example, Svelte would need something like
    <code>style|apply=&lbrace;[size, color]&rbrace;</code>.
  </p>
</BlogPost>
