---
import BlogPost from "$lib/layouts/BlogPost.astro";

export const title = "Remotely Save - including the .obsidian folder";
export const date = "2025-03-26";
---

<BlogPost {date} {title}>
  <p>
    To include the <code>.obsidian</code> folder when syncing with Remotely Save, enable the option that
    looks like
  </p>
  <blockquote>
    <p><strong>Sync Config Dir (experimental)</strong></p>
    <p>
      Sync config dir obsidian or not (inner folder .git and node_modules would be ignored). Please
      be aware that this may impact all your plugins' or Obsidian's settings, and may require you
      restart Obsidian after sync. Enable this at your own risk.
    </p>
  </blockquote>
</BlogPost>
