---
import BlogPost from "$lib/layouts/BlogPost.astro";

export const title = "Surface power requirements";
export const date = "2025-04-12";
---

<BlogPost {date} {title}>
  <p>
    <em
      >This is a plain text version of the interactive <a
        href="https://support.microsoft.com/en-us/surface/surface-power-supplies-and-charging-requirements-0d9d51d4-594b-464d-9086-c90f35b80c01"
        >Surface power supplies and charging requirements</a
      > page. To save space, it only includes the most recent devices.</em
    >
  </p>

  <p>
    Surface Pro (11th Edition) with or without 5G: 39W minimum, 60W for fast charging, includes a
    Model 1963 - 39W (15 volts @ 2.6 amps) charger
  </p>
  <p>
    Surface Pro 10 for Business with or without 5G: 39W minimum, 45W for fast charging, includes a
    Model 1963 - 39W (15 volts @ 2.6 amps) charger
  </p>
  <p>
    Surface Pro 9 with 5G: 39W minimum, 60W for fast charging, includes a Model 1963 - 39W (15 volts
    @ 2.6 amps) charger
  </p>
  <p>
    Surface Pro 9: 60W minimum or for fast charging, includes a Model 1706 - 60W (15 volts @ 4 amps)
    charger
  </p>
  <p>
    Surface Pro X: 60W minimum or for fast charging, includes a Model 1706 - 60W (15 volts @ 4 amps)
    charger
  </p>
  <p>
    Surface Pro 8: 60W minimum or for fast charging, includes a Model 1706 - 60W (15 volts @ 4 amps)
    charger
  </p>
  <p>
    Surface Pro 7 or 7+: 60W minimum, no fast charge, includes a Model 1706 - 60W (15 volts @ 4
    amps) charger
  </p>
  <p>
    Surface Laptop (7th Edition) 15": 45W minimum, 60W for fast charging, includes a Model 2062 -
    60W (15 volts @ 4 amps) charger
  </p>
  <p>
    Surface Laptop (7th Edition) 13.8": 39W minimum, 60W for fast charging, includes a Model 1963 -
    39W (15 volts @ 2.6 amps) charger
  </p>
  <p>
    Surface Laptop 6 for Business 15": 45W minimum, 60W for fast charging, includes a Model 2062 -
    60W (15 volts @ 4 amps) charger
  </p>
  <p>
    Surface Laptop 6 for Business 13.5": 39W minimum, 60W for fast charging, includes a Model 1963 -
    39W (15 volts @ 2.6 amps) charger
  </p>
  <p>
    Surface Laptop 5: 60W minimum or for fast charging, includes a Model 1706 - 60W (15 volts @ 4
    amps) charger
  </p>
  <p>
    Surface Laptop 4: 60W minimum or for fast charging, includes a Model 1706 - 60W (15 volts @ 4
    amps) charger
  </p>
  <p>
    Surface Laptop 3: 60W minimum or for fast charging, includes a Model 1706 - 60W (15 volts @ 4
    amps) charger
  </p>
</BlogPost>
