---
import BlogPost from '$lib/layouts/BlogPost.astro';

export const title = 'Lessons from running PR for a high school club';
export const date = '2026-03-13';
---

<BlogPost {title} {date}>
  <h2>A third of your job is asking</h2>
  <p>
    Even the best managers, who always remember to remind you whenever a meeting is upcoming, have
    no idea what the meeting will actually be about. Part of your job is getting plans and
    information out of these people.
  </p>
  <h2>The outside world sucks</h2>
  <p>
    There's a ton of regulation that only serves the purpose of saving stupid people from
    themselves. You end up having to follow these regulations as well as you can, since,
    unfortunately, deregulation isn't your job. Worse, the regulation is often enforced by stupid
    people themselves, sinking even more time into following regulations that shouldn't need to
    exist.
  </p>
  <h2>Care on an individual level, not a group level</h2>
  <p>
    When it was time for the competitors I was managing to submit their works, I pinged those in the
    club's Discord with their IDs and made a dashboard that tracked qualification. This was good but
    I should've done more.
  </p>
  <p>
    If I were to do this today, I would've worked with the club's advisor to be able to track when
    each competitor submitted their entry. This would let me communicate directly with competitors
    to keep things moving and force me to better understand how each competition works sooner.
  </p>
  <h2>Manual graphics aren't (usually) the way to go</h2>
  <p>
    2 TV graphics and 1 sign I made were never used. And of 4 Instagram graphics, only around 2
    accounts liked them. These could've been AI generated, and as long as they were of the right
    dimensions and branding, nobody would care.
  </p>
  <p>
    1 exception: a promotional flyer passed out at the start of the year. It got so much
    distribution that the time I put in to making sure it was well designed, put the most important
    information first, and included all relevant information was clearly worth it.
  </p>
</BlogPost>
