name: Astro to Pages

on:
  push:
    branches: ['main']

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: pages
        uses: actions/configure-pages@v5
      - uses: withastro/action@v5
        with:
          node-version: latest
          package-manager: pnpm
          build-cmd: pnpm run build --site "${{ steps.pages.outputs.origin }}"
      - uses: actions/deploy-pages@v4
